<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript"　src="/static/test2.js"></script>
  <script type="text/javascript"　src="/static/app.js"></script>
</head>

<body>
  <h1>test</h1>
  <h2 id="ch-id">NOOOOO<h2>
  <p id="box2"></p><br>
  <p id="box3"></p><br>
  <p id="box4"></p><br>
  <p id="box5"></p><br>
  <p id="box6"></p><br>
</body>
</html>
